@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 15px;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: 0.9s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.521);
}
nav a:hover{
    text-decoration: underline;
}
.inicio{
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 300px;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #000000;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
    padding-bottom: 20px;
}
.inicio .contenido-banner h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 10px;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 43px;
    height: 43px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    background-color: #ffffff;
}
.inicio .contenido-banner .redes a:hover{
    padding: 10px;
}
.git{
    width: 40px;
    height: 40px;
}
.linkedin{
    width: 40px;
    height: 40px;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    text-decoration: none;
}
button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fcfcfca4;
    z-index: -1;
    transition: 1s;
    text-decoration: none;
}
.link-botao{
    text-decoration: none;
}
button:hover .overlay{
    width: 100%;
}
main{
    background-color: white;
    padding: 15px;
    margin:auto;
    max-width: 1000px;
    min-width: 300px;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 20px;
}
main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 2.5em;
}
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}
section{
    padding-top: 50px;
    margin-bottom: 50px;
}
h1{
    padding-bottom: 50px;
}
ul{
    padding-left: 20px;
}
footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

@media(max-width:798px){

    nav.menu-inicio{
        display: none;
    }

    #titulo{
        text-align: center;
        margin: auto;
    }

    #numero{
        text-decoration: none;
        color: white;
    }

}